body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-attachment: fixed;
}
nav.navbar-transparente {
  padding: 15px 0px;
  background: rgba(0, 0, 0, 0.6);
}
.navbar-expand-md .navbar-nav .nav-link {
  color: white;
}
.navbar-expand-md .navbar-nav .nav-link:hover {
  color: #9bf0e1;
}

button.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;}

.divisor{
    width: 1px;
    background: white;
    margin: 15px 12px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* reset bootstrap */
.ml-auto {
  margin-left: auto !important;
}
